<div class="linea-horizontal"></div>

<div class="menu-container">
  <div class="logo">
    <a href="/">
      <img src="/img/2.png" alt="Logo de la empresa">
    </a>
  </div>
    <div class="menu">
        {{> menu}}
    </div>
</div>

<h1>Bienvenido al Chat</h1>

<div class="chat-container">
  <div id="chat-messages" class="message-history"></div>
  <form id="chat-form">
    <input type="text" id="message-input" required>
    <button type="submit">Enviar</button>
  </form>
</div>

<div class="botones">
  <a href="/products">
    <button>Ir a la Tienda</button>
  </a>
</div>


<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const chatForm = document.getElementById('chat-form');
  const messageInput = document.getElementById('message-input');
  const chatMessages = document.getElementById('chat-messages');
  const userId = '{{user._id}}';

  chatForm.addEventListener('submit', (e) => {
    e.preventDefault();
    if (messageInput.value && userId) {
      socket.emit('chatMessage', { userId: userId, message: messageInput.value });
      messageInput.value = '';
    }
  });

  socket.on('connect', () => {
    socket.emit('getMessages');
  });

  socket.on('loadMessages', (messages) => {
    chatMessages.innerHTML = '';
    messages.forEach(appendMessage);
  });

  function appendMessage(msg) {
    const messageElement = document.createElement('p');
    const userName = msg.user && msg.user.first_name ? msg.user.first_name : 'Usuario desconocido';
    messageElement.textContent = `${userName} dice: ${msg.message}`;
    chatMessages.appendChild(messageElement);
  }

  socket.on('message', (msg) => {
    appendMessage(msg);
  });

  // cargar mensajes en página
  socket.emit('getMessages');
</script>

<link rel="stylesheet" href="/css/styles.css">