<div class="linea-horizontal"></div>

<div class="menu-container">
    <div class="logo">
        <a href="/">
            <img src="/img/2.png" alt="Logo de la empresa">
        </a>
    </div>
</div>

<h2>Restablecer Contraseña</h2>
{{#if error}}
<p class="error">{{error}}</p>
{{/if}}
{{#if message}}
<p class="success">{{message}}</p>
{{/if}}
<form action="/forgot-password" method="POST">
    <input type="email" name="email" placeholder="Ingresa tu correo electrónico" required>
    <button type="submit">Enviar correo de restablecimiento</button>
</form>
<a href="/login">Volver al inicio de sesión</a>

<link rel="stylesheet" href="/css/styles.css">