<link rel="stylesheet" href="/css/styles.css">

<div class="linea-horizontal"></div>
<div class="menu-container">
  <div class="logo">
    <a href="/">
      <img src="/img/2.png" alt="Logo de la empresa">
    </a>
  </div>
  <div class="menu">
        <span class="separator">|</span>
        <a href="/login" class="menu-item">Iniciar Sesión</a>
        <span class="separator">|</span>
        <a href="/register" class="menu-item">Registrarme</a>
        <span class="separator">|</span>
        <a href="/products" class="menu-item">Productos</a>
        <span class="separator">|</span>
  </div>
</div>

<div class="welcome-container">
  <h2>Bienvenido, {{username}}!</h2>
  <div class="menu-cuadrado">
    <a href="/chat" class="menu-cuadrado-item">Chat en vivo</a>
    <a href="/realtimeproducts" class="menu-cuadrado-item">Productos en tiempo real</a>
    <a href="/" class="menu-cuadrado-item">Cerrar sesión</a>
  </div>
</div>

