<h1>¡Compra Exitosa!</h1>
<div>
    <h2>Detalles del Ticket</h2>
    <p>Código: {{ticket.code}}</p>
    <p>Fecha de Compra: {{ticket.purchase_datetime}}</p>
    <p>Monto Total: ${{ticket.amount}}</p>
</div>
{{#if failedProducts.length}}
<div>
    <h2>Productos no procesados</h2>
    <ul>
    {{#each failedProducts}}
        <li>{{this}}</li>
    {{/each}}
    </ul>
    <p>Estos productos permanecerán en su carrito.</p>
</div>
{{/if}}
<a href="/products">Volver a la tienda</a>