<div class="linea-horizontal"></div>
<div class="menu-container">
  <div class="logo">
    <a href="/">
      <img src="/img/2.png" alt="Logo de la empresa">
    </a>
  </div>
  <div class="menu">
    <span class="separator">|</span>
    <a href="/login" class="menu-item">Iniciar Sesi칩n</a>
    <span class="separator">|</span>
    <a href="/register" class="menu-item">Registrarme</a>
    <span class="separator">|</span>
    <a href="/products" class="menu-item">Productos</a>
    <span class="separator">|</span>
  </div>
</div>

<h1>Productos en tiempo real</h1>

<div id="contenedorProductos"></div>

<div class="formulario">
  <h2>Formulario para agregar productos</h2>
  <form>
    <input type="text" id="title" placeholder="Titulo">
    <input type="text" id="description" placeholder="Descripcion">
    <input type="number" id="price" placeholder="Precio">
    <input type="text" id="img" value="Sin Imagen">
    <input type="text" id="code" placeholder="C칩digo">
    <input type="number" id="stock" placeholder="Stock">
    <input type="text" id="category" placeholder="Categoria">
    <select id="status">
      <option value="true">Activo</option>
      <option value="false">Inactivo</option>
    </select>
    <button type="button" id="btnEnviar">Enviar</button>
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  // Para Cargar los productos existentes al ingresar a la p치gina
  socket.emit('getProducts');

  //  evento 'productos' para recibir los productos actualizados
  socket.on('productos', (productos) => {
    const contenedorProductos = document.getElementById('contenedorProductos');
    contenedorProductos.innerHTML = '';

    productos.forEach((producto) => {
      const productoElement = document.createElement('div');
      productoElement.innerHTML = `
        <h3>${producto.title}</h3>
        <p>Precio: ${producto.price}</p>
        <p>C칩digo: ${producto.code}</p>
        <p>Stock: ${producto.stock}</p>
        <button class="eliminar-btn" data-id="${producto._id}">Eliminar</button>
      `;
      contenedorProductos.appendChild(productoElement);


      const eliminarBtn = productoElement.querySelector('.eliminar-btn');
      eliminarBtn.addEventListener('click', () => {
        const productoId = producto._id;
        socket.emit('eliminarProducto', productoId);
      });
    });

    console.log('Productos actualizados:', productos);
  });

  const btnEnviar = document.getElementById('btnEnviar');
  btnEnviar.addEventListener('click', () => {
    const producto = {
      title: document.getElementById('title').value,
      description: document.getElementById('description').value,
      price: parseFloat(document.getElementById('price').value),
      img: document.getElementById('img').value,
      code: document.getElementById('code').value,
      stock: parseInt(document.getElementById('stock').value),
      category: document.getElementById('category').value,
      status: document.getElementById('status').value === 'true',
    };

    socket.emit('agregarProducto', producto);
    console.log('Producto agregado:', producto);
    alert('Producto agregado exitosamente');
  });
</script>

<link rel="stylesheet" href="/css/styles.css">
<div class="linea-horizontal"></div>