<div class="linea-horizontal"></div>

<div class="menu-container">
    <div class="logo">
        <a href="/">
            <img src="/img/2.png" alt="Logo de la empresa">
        </a>
    </div>
</div>

<div class="form-container">
    <h2>Restablecer Contraseña</h2>
    {{#if error}}
    <p class="error-message">{{error}}</p>
    {{/if}}
    <form action="/reset-password/{{token}}" method="POST">
        <input type="password" name="password" placeholder="Nueva contraseña" required>
        <div class="button-container">
            <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
        </div>
    </form>
</div>


<link rel="stylesheet" href="/css/styles.css">