<div class="linea-horizontal"></div>

<div class="menu-container">
    <div class="logo">
        <a href="/">
            <img src="/img/2.png" alt="Logo de la empresa">
        </a>
    </div>
</div>

<div class="form-container">
    <h2>El enlace ha expirado</h2>
    <p class="error-message">Lo sentimos, el enlace para restablecer la contraseña ha expirado.</p>
    <p>Por favor, solicita un nuevo enlace de restablecimiento.</p>
    <div class="button-container">
        <a href="/forgot-password" class="btn btn-primary">Solicitar nuevo enlace</a>
    </div>
</div>


<link rel="stylesheet" href="/css/styles.css">