<div class="linea-horizontal"></div>

<div class="menu-container">
    <div class="logo">
        <a href="/">
            <img src="/img/2.png" alt="Logo de la empresa">
        </a>
    </div>
</div>

<h2>Restablecer Contraseña</h2>
{{#if error}}
<p class="error">{{error}}</p>
{{/if}}
<form action="/reset-password/{{token}}" method="POST">
    <input type="password" name="password" placeholder="Nueva contraseña" required>
    <button type="submit">Restablecer Contraseña</button>
</form>


<link rel="stylesheet" href="/css/styles.css">