/**TIPOGRAFIA**/

@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap');

/**RESET**/

* {
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  para la línea horizontal */
.linea-horizontal {
    height: 15px;
    width: 100%;
    background-color: #3aafa9; /
}

/*  para el logo */
.logo {
    float: left; 
    margin-right: 20px; 
}

.logo img {
    width: 180px; 
    height: auto;
}

/*  para el título */
h1 {
    text-align: center;
    color: #ab8262;
    margin-bottom: 20px;
}



/*  para el contenedor del menú */
.menu-container {
    display: flex; 
    align-items: center; 
}

/*  para el logo */
.logo {
    margin-right: auto; 
}

/* para el menú */
.menu {
    display: flex; 
}

/* para los elementos del menú */
.menu-item {
    color: #2B7A78; 
    font-size: 28px;
    font-weight: bold; 
    text-decoration: none; 
    transition: color 0.3s; 
    margin-right: 10px; 
}

/* para los enlaces del menú al pasar el ratón por encima */
.menu-item:hover {
    color: #ab8262; /
}

/* para el separador */
.separator {
    margin-right: 10px; 
    margin-left: 10px; 
    font-size: 28px;
    color: #2B7A78;
}

/* para el carrusel */
.carousel {
    width: 100%;
    height: 75vh; 
    overflow: hidden; 
}

.carousel-item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.bienvenida {
    text-align: center; 
    color: #def2f1; 
    font-size: 40px; 
    font-weight: bold; 
    background-color: #3aafa9;
}


/* para el formulario */
.formulario {
    width: 35%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

/* para los elementos del formulario */
.formulario input[type="text"],
.formulario input[type="number"],
.formulario select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* Estilo para el botón del formulario */
.formulario button {
    width: 30%;
    padding: 10px;
    background-color: #2B7A78;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilo para el botón al pasar el cursor */
.formulario button:hover {
    background-color: #17252a;
}


/* Estilo para los grupos de elementos del formulario */
.form-group {
    margin-bottom: 20px;
  }
  
  /* Estilo para las etiquetas del formulario */
  .formulario label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Estilo para los campos de entrada del formulario */
  .formulario input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Estilo para el botón del formulario */
  .formulario button {
    width: 100%;
    padding: 10px;
    background-color: #2B7A78;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Estilo para el botón al pasar el cursor */
  .formulario button:hover {
    background-color: #17252a;
  }
  
  /* Estilo para el título del formulario */
  .formulario h2 {
    text-align: center;
    margin-bottom: 20px;
  }

/* Estilo para el contenedor de productos */
#contenedorProductos {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin-top: 50px; 
}

/* Estilo para cada elemento dentro del contenedor de productos */
#contenedorProductos > div {
    width: 300px; 
    height: 150px; 
    margin: 10px;
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    background-color: #f5f5f5; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    transition: transform 0.3s ease;
}

/* Estilo para el texto dentro de las tarjetas */
#contenedorProductos > div p {
    margin-bottom: 10px; 
}

/* Estilo para el botón dentro de las tarjetas */
#contenedorProductos > div button {
    padding: 10px 20px; 
    background-color: #2B7A78; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

/* Estilo al pasar el cursor sobre una tarjeta */
#contenedorProductos > div:hover {
    transform: translateY(-5px);
}

/* Estilo al pasar el cursor sobre el botón */
#contenedorProductos > div button:hover {
    background-color: #17252a; 
}


/* Estilo para el contenedor del botón */
.container-btn {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para el botón */
.container-btn button {
    padding: 10px 20px; 
}

/* Estilos para el contenedor de bienvenida */
.welcome-container {
  text-align: center;
  margin-top: 50px;
}

/* Estilos para el mensaje de bienvenida */
.welcome-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para el menú cuadrado */
.menu-cuadrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 4px;
}

/* Estilos para los elementos del menú cuadrado */
.menu-cuadrado-item {
  display: block;
  padding: 10px 20px;
  background-color: #2B7A78;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 18px;
  width: 200px;
  text-align: center;
}

/* Estilos para los elementos del menú cuadrado al pasar el cursor */
.menu-cuadrado-item:hover {
  background-color: #17252a;
}

/* Estilos específicos para la página de chat */
.chat-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .message-history {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .message-form input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .message-form button {
    width: 18%;
    padding: 10px;
    background-color: #2B7A78;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .message-form button:hover {
    background-color: #17252a;
  }

  /* Estilos para la paginación */
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 5px;
}