/**TIPOGRAFIA**/

@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap');

/**RESET**/

* {
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  para la línea horizontal */
.linea-horizontal {
    height: 15px;
    width: 100%;
    background-color: #3aafa9;
}

/*  para el logo */
.logo {
    float: left;
    margin-right: 20px;
}

.logo img {
    width: 250px;
    height: auto;
}

/*  para el título */
h1 {
    text-align: center;
    color: #ab8262;
    margin-bottom: 20px;
}

/*  para el contenedor del menú */
.menu-container {
    display: flex;
    align-items: center;
}

/*  para el logo */
.logo {
    margin-right: auto;
}

/* para el menú */
.menu {
    display: flex;
}

/* para los elementos del menú */
.menu-item {
    color: #2B7A78;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
    margin-right: 10px;
}

/* para los enlaces del menú al pasar el ratón por encima */
.menu-item:hover {
    color: #ab8262;
}

/* para el separador */
.separator {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 28px;
    color: #2B7A78;
}

/* para el carrusel */
.carousel {
    width: 100%;
    height: 75vh;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bienvenida {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #ffffff;
    font-size: 80px;
    font-weight: bold;
    background-color: #3aafa92f;
}

.userBienvenida {
    position: relative;
    bottom: 10px;
    width: 15%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: large;
}

/* para el formulario */
.formulario {
    width: 20%;
    margin: 50px auto;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* para los elementos del formulario */
.formulario input[type="text"],
.formulario input[type="number"],
.formulario select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el botón del formulario */
.formulario button {
    width: 30%;
    margin: 5px 0;
    padding: 10px;
    background-color: #2B7A78;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilo para el botón al pasar el cursor */
.formulario button:hover {
    background-color: #17252a;
}

/* Estilo para los grupos de elementos del formulario */
.form-group {
    margin-bottom: 20px;
}

/* Estilo para las etiquetas del formulario */
.formulario label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilo para los campos de entrada del formulario */
.formulario input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para el título del formulario */
.formulario h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para los contenedores de productos */
#contenedorProductos,
#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

/* Estilo para cada elemento dentro de los contenedores de productos */
#contenedorProductos>div,
#product-list>div {
    width: 300px;
    height: auto;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease;
    overflow: hidden;

}

#contenedorProductos>div img,
#product-list>div img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    /* Cambiado de 'cover' a 'contain' */
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Estilo para el texto dentro de las tarjetas */
#contenedorProductos>div p,
#product-list>div p {
    margin-bottom: 10px;
    text-align: center;
}

/* Estilo para los botones dentro de las tarjetas */
#contenedorProductos>div button,
#product-list>div button {
    padding: 5px 10px;
    background-color: #2B7A78;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px 0;
}

/* Estilo al pasar el cursor sobre una tarjeta */
#contenedorProductos>div:hover,
#product-list>div:hover {
    transform: translateY(-5px);
}

/* Estilo al pasar el cursor sobre los botones */
#contenedorProductos>div button:hover,
#product-list>div button:hover {
    background-color: #17252a;
}

/* Estilo para el input de cantidad */
#contenedorProductos>div input[type="number"],
#product-list>div input[type="number"] {
    width: 60px;
    padding: 2px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    background-color: #ffffff;
    color: #333;
    transition: border-color 0.3s;
}

/* Estilo al pasar el cursor sobre el input */
#contenedorProductos>div input[type="number"]:hover,
#product-list>div input[type="number"]:focus {
    border-color: #3aafa9;
    outline: none;
}

h3 {
    text-align: center;
    margin-bottom: 40px;
    /* Aumentado de 20px a 40px */
}

/* Estilo para las imágenes de productos */
.product-image,
.cart-product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Estilo para el contenedor del botón */
.container-btn {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para el botón */
.container-btn button {
    padding: 10px 20px;
}

/* Estilos para el contenedor de bienvenida */
.welcome-container {
    text-align: center;
    margin-top: 50px;
}

/* Estilos para el mensaje de bienvenida */
.welcome-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos específicos para la página de chat */
.chat-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.message-history {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

/* Ajustes para el formulario y sus elementos */
#chat-form {
    display: flex;
    align-items: center;
}

#message-input {
    flex: 1;
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#chat-form button {
    padding: 10px 20px;
    background-color: #2B7A78;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#chat-form button:hover {
    background-color: #17252a;
}

/* Estilos para la paginación */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
}

/* Estilos para el formulario de login */
.formularioLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.658);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.formularioLogin input[type="text"],
.formularioLogin input[type="number"],
.formularioLogin input[type="email"],
.formularioLogin input[type="password"],
.formularioLogin select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formularioLogin button {
    width: 40%;
    padding: 10px;
    background-color: #2B7A78;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formularioLogin button:hover {
    background-color: #17252a;
}

.formularioLogin .form-group {
    margin-bottom: 20px;
}

.formularioLogin label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.formularioLogin h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos adicionales para el fondo */
html,
body {
    height: 100%;
    overflow: auto;
}

#carouselExampleControls {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Estilos para la tarjeta de usuario */


.user-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.user-card {
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user-card p {
    font-size: 24px;
    margin-bottom: 15px;
}

/* Estilo para los botones */
.botones {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.botones button {
    width: 10%;
    padding: 10px;
    background-color: #2B7A78;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0;
}

.botones button:hover {
    background-color: #17252a;
}

/* Estilos para el carrito */
.cart-file {
    width: 35%;
    margin: 30px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-file li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cart-file li img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

.cart-file li .product-info {
    flex-grow: 1;
}

.cart-file li .product-info h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
}

.cart-file li .product-info p {
    margin: 0;
    font-size: 14px;
}

.cart-file li .remove-item {
    align-self: flex-start;
}

.totals {
    text-align: right;
    margin: 10px 0;
}

.totals p {
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.cart-file button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.cart-file .remove-item {
    background-color: #e74c3c;
    color: #fff;
}

.cart-file .remove-item:hover {
    background-color: #c0392b;
}

.cart-file .empty-cart {
    background-color: #2B7A78;
    color: #fff;
}

.cart-file .empty-cart:hover {
    background-color: #17252a;
}

.cart-file .finalize-purchase {
    background-color: #ab8262;
    color: #fff;
}

.cart-file .finalize-purchase:hover {
    background-color: #8d6a4e;
}

.cart-file .botones {
    display: inline-block;
    padding: 8px 16px;
    background-color: #3aafa9;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.cart-file .botones:hover {
    background-color: #2b8a86;
}

/* Ticket de compra */
.ticket-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 20px;
}

.detalle-ticket {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.detalle-ticket p {
    font-size: 24px;
    margin-bottom: 15px;
}

.detalle-ticket ul {
    list-style: none;
    padding: 0;
}

.detalle-ticket li {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Estilos del icono del carrito de compras */
.carrito {
    position: fixed;
    top: 300px;
    right: 50px;
    background-color: #2B7A78;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.carrito a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.carrito a:hover {
    background-color: #17252a;
    border-radius: 50px;
    padding: 10px 20px;
}

.carrito i {
    font-size: 24px;
    margin-right: 10px;
}

.carrito span {
    font-size: 18px;
    font-weight: bold;
    background-color: #3aafa9;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 12px;
}



.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input[type="password"],
.form-container input[type="email"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.btn, .form-container button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover, .form-container button:hover {
    background-color: #45a049;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}


.link-container {
    text-align: center;
    margin-top: 20px;
}


.back-to-login {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-to-login:hover {
    background-color: #e0e0e0;
    color: #000;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.success-message {
    color: green;
    text-align: center;
    margin-bottom: 10px;
}

.form-container p {
    margin-bottom: 15px;
    text-align: center;
}




.user-table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;

}

.user-table th,
.user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.user-table th {
    background-color: #f2f2f2;
}

.user-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.user-table button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.user-table button.change-role {
    background-color: #4CAF50;
    color: white;
}

.user-table button.delete-user {
    background-color: #f44336;
    color: white;
}

/* Centrar los botones dentro de la celda */
.user-table td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}
